<?xml version="1.0"?>

<launch>

  <group ns="mantis" >

    <!-- Robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" >
      <param name="tf_prefix" value="mantis" />
    </node>

    <!-- Parse the URDF model and store the result in the 'robot_description' parameter -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find mantis_model)/urdf/mantis.urdf.xacro'" />

    <!-- Spawn the model in Gazebo -->
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_mantis" args="-urdf -param robot_description -model mantis" />
    
    <!-- Run the roscontrol simulation of the drive motors -->
    <rosparam file="$(find mantis_model)/yaml/roscontrol_parameters.yaml" />
    <node pkg="controller_manager" type="spawner" name="controller_spawner" args="joint_state_controller left_wheel_controller right_wheel_controller" />

  </group>

</launch>
